@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    min-height: 100vh;

    color: var(--primary-color);
    font: var(--font-l);
    font-size: var(--font-size-l);

    background: var(--bg-color);
}

.content-page {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex-grow: 1;

    padding: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
