.app.dark {
    --bg-color: #372D42;
    --inverted-bg-color: #F1EDE7;

    --primary-color: #F1EDE7;
    --secondary-color: #ffffffb3;
    --inverted-primary-color: #9C7775;
    --inverted-secondary-color: #1e1a22;

    --icon-color: #000000;
}