.app.dark {
    --bg-color: #372d42;
    --inverted-bg-color: #f1ede7;
    --primary-color: #f1ede7;
    --secondary-color: #ffffffb3;
    --inverted-primary-color: #9c7775;
    --inverted-secondary-color: #1e1a22;
    --icon-color: #000;
}
