.app.light {
    --bg-color: #F1EDE7;
    --inverted-bg-color: #372D42;

    --primary-color: #9C7775;
    --secondary-color: #1e1a22;
    --inverted-primary-color: #F1EDE7;
    --inverted-secondary-color: #ffffffb3;

    --icon-color: #F7E015;
    
}